html {
  text-align: left;
  background-color: black;
  font-family: 'Inconsolata';
  font-size: 16px;
  color: green;
}

.icon_link img{
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-top: .5em;
  border-radius: 15px;
  opacity: 0.6;
}

.icon_link img:hover{
  opacity: 1;
}

.tab {
  margin: .4em;
}

.tabpg {
  margin: 4em;
  display: none;
}

#typed {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  padding-left: 7em;
}

#summary {
  padding-bottom: .8em;
}

#summary:hover {
  color: purple;
  text-decoration: underline;
}

#experience {
  padding-bottom: .8em;
}

#experience:hover {
  color: purple;
  text-decoration: underline;
}

#projects {
  padding-bottom: .8em;
}

#projects:hover {
  color: purple;
  text-decoration: underline;
}

.openers{
  display: none;
}

.closers{
  display: none;
}

.type-it1 {
  padding-bottom: 1em;
  font-size: 24px;
}

.title, a {
  font-size: 20px;
  font-weight: bolder;
}

a {
  color: purple;
}

.attr {
  color: grey;
  margin: 1em;
}

#summarypg{
  width: 50%;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

.code{
  font-size: 14px;
}

#summarypg{
  width: 100%;
  margin-left: .2em;
}

#typed {
  /*font-size: 24px;*/
  padding-left: 1em;
  padding-top: 2em;
}

.line {
  margin-bottom: 2em;
}

.title, a{
  font-size: 25px;
}

#summarypg{
  width: 100%;
}

.icon_link img{
  width: 80px;
  height: 80px;
}

html{
  margin-right: 1.2em;
  margin-top: 3em;
  margin-bottom: 7em;
}

#experiencepg{
  font-size: 15px;
}
  }
