body {
  background-image: url("https://i.ytimg.com/vi/ko3pohMZLl8/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'PT Serif', serif;
  color: rgb(24,21,28);
  padding: 20px;
  max-width: 900px;
  min-width: 500px;
}

#sidebar {
  display: inline-block;
  vertical-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  max-width: 150px;
  font-size: small;
}

#intro{
  display: inline-block;
  vertical-align: right;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: x-large;
  margin-left: 270px;
}

a{
  color: purple
}
a:hover {
  font-size: large;
}

.calming {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    padding: 10px;
}

h3 {
  color: white;
}

footer {
  border: 3px solid black;
  width: 90%;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

#charlie{
    width:150px;
    height: 100px;
}

.mobileapps{
  display: inline-block;
  padding: 40px;
  font-weight: bolder;
}

@media screen and (max-width: 400px) {
body {
padding: 5%;
font-size:50%;
}

.calming, iframe, img {
    padding: 1px;
    width: 30%;
    height: 30%
}
}
